<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>5A167</string>
	<string>5B60</string>
	<string>5D7</string>
	<string>5E85</string>
	<string>local build-Jul 28 2010</string>
	<string>local build-Jan  6 2011</string>
	<string>local build-Jul  1 2011</string>
	<string>local build-Nov 15 2011</string>
	<string>local build-Jul  1 2011</string>
	<string>local build-Nov 15 2011</string>
	<string>local build-Jun 29 2012</string>
	<string>local build-Oct 16 2012</string>
	<string>M5.2-1860-1</string>
	<string>M5.5.1-2111-1</string>
	<string>M5.5.2-2120-1</string>
	<string>M5.5.3-2152-2</string>
	<string>M5.6.1-2562-1</string>
	<string>M6.0.5-4052-1</string>
	<string>M6.1-4328-1</string>
	<string>M6.1.1-4338-1</string>
	<string>M6.2-4582-1</string>
	<string>M6.3-5046-3</string>
	<string>M6.3.1-5249-2</string>
	<string>M7.1-5683-2</string>
	<string>M7.3-5989-2</string>
	<string>M8.0-6194-2</string>
	<string>M8.1-6369-2</string>
</array>
</plist>
